doctype html
html
    head
        title= title
        script(type='text/javascript').
            var data = !{JSON.stringify(user)};
            window.opener.behaviorSuccess(data);
            window.close();
    body